* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: sans-serif;
}

h2{
    font-size: 40px;
    font-weight: 500;
}
.box{
    width: 1000px;
    height: 400px;
    border: black 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* ==== rainbow progress bar ==== */
@keyframes progres-bar {
    0% {
        left: 0%;
        width: 0%;
    }

    100% {
        width: 100%;
        right: 100%;
    }

}

h2 {
    padding: 20px;
}

.task1 {
    width: 90%;
    border: black solid 2px;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    background-color: #dacdcd;
}

.progress-bar {
    height: 70px;
    width: 0%;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    animation-name: progres-bar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */

}

/* ==== flip card ==== */

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }

}


.task2 {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    padding: 20px;
}

.flip-card {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    animation-name: flip;
    animation-duration: 5s;    
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fffdfd;
    border: black solid 2px;
    backface-visibility: hidden;

}

.card-front {
    background-color: rgb(237, 80, 7);
}

.card-back {
    background-color: rgb(7, 112, 54);
    transform: rotateY(180deg);
}

/* ==== Typing effect ==== */
@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.task3 {
    height: 300px;    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 0%;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    animation-name: typing;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.type {
    display: inline-block;
    width: 2px;
    height: 30px;
    background: rgba(0, 0, 0);
    margin-left: 2px;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    opacity: 0;
}

/* ==== Loading Spinner ==== */
@keyframes loding {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.task4{
    width: 1000px;
    height: 300px;
    border: black 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loding {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    border: gray solid 6px;
    border-bottom-color: red;
    animation-name: loding;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* ==== Bouncing Ball ==== */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) scaleX(1) scaleY(1);
    }

    25% {
        transform: translateY(-200px) scaleX(1) scaleY(1);
    }

    45% {
        transform: translateY(0) scaleX(1) scaleY(1);
    }

    50% {
        transform: translateY(0) scaleX(1.2) scaleY(0.8);
    }

    55% {
        transform: translateY(0) scaleX(1) scaleY(1);
    }


    75% {
        transform: translateY(-100px) scaleX(1) scaleY(1);
    }

}

.task5 {
    width: 1200px;
    height: 500px;
    border: black 3px solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ff6347;
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

/* ==== Animated Story ==== */

.task6 {
    width: 1521px;
    height: 660px;
    border: black 3px solid;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    position: relative;
}
.sun {
    position: absolute;
    top: 50px;
    right: 100px;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px yellow;
    
}
.cloud, .cloud2 {
    position: absolute;
    top: 100px;
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation-name: movecloud;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud {
    left: 50px;
    animation-delay: 0s;
}
.cloud2 {
    right: 50px;
    animation-delay: 5s;
}
@keyframes movecloud {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1400px);
    }
}
.task6 img {
    position: absolute;
    top: 200px;
    left: -200px;
    height: 100px;
    width: 150px;
    animation-name: flybird;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes flybird {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1700px);
    }
}

